.calculator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 50px;
}

/* Estilos para la calculadora en sí */
.calculator {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  background-color: #f3f3f3; /* Fondo plateado */
  border: 2px solid #cccccc; /* Borde plateado */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  height: 100%;
}

/* Estilos para la pantalla de la calculadora */
.screen {
  grid-column: span 1;
  height: 60px;
  width: 580px;
  font-size: 28px;
  text-align: right;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #333;
}

/* Estilos para los botones de la calculadora con efecto de brillo */
.button {
  position: relative;
  width: 25%;
  height: 80px;
  font-size: 24px;
  background-image: linear-gradient(90deg, #eaeaea, #f2f2f2, #eaeaea); /* Gradiente plateado brillante */
  color: #333; /* Texto en color oscuro */
  border: 2px solid #cccccc; /* Borde plateado */
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background-position 0.5s ease-in-out;
  background-size: 200% 100%;
  background-position: 100% 0;
}

/* Estilos para el botón de igual (=) */
.button.equal {
  background-image: linear-gradient(90deg, #1ec5d5, #32bac6, #cad2d9);
}

/* Estilos para el botón de borrar (C) */
.button.clear {
  background-image: linear-gradient(90deg, #1ec5d5, #32bac6, #cad2d9);
}

/* Estilos para los botones numéricos */
.button.number {
  background-image: linear-gradient(90deg, #1ec5d5, #32bac6, #cad2d9);
}

/* Estilos para los botones de operadores */
.button.operator {
  background-image: linear-gradient(90deg, #1ec5d5, #32bac6, #cad2d9);
}

/* Estilos para el botón de porcentaje (%) */
.button.percentage {
  background-image: linear-gradient(90deg, #1ec5d5, #32bac6, #cad2d9);
}

/* Pseudo-clase hover para el efecto de brillo */
.button:hover {
  background-position: -100% 0;
}

/* Estilos para el contenedor de botones numéricos y de operadores */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Estilos para los contenedores de números y operadores */
.number-buttons,
.operator-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}